<ion-view title="Dashboard">
  <ion-content class="padding">
    <h1>Log mood</h1>
    <button ng-click="logMood(1)">1</button>
    <button ng-click="logMood(2)">2</button>
    <button ng-click="logMood(3)">3</button>
    <button ng-click="logMood(4)">4</button>
    <button ng-click="logMood(5)">5</button>
    <button ng-click="logMood(6)">6</button>
    <button ng-click="logMood(7)">7</button>
    <button ng-click="logMood(8)">8</button>
    <button ng-click="logMood(9)">9</button>
    <button ng-click="logMood(10)">10</button>
  </ion-content>
</ion-view>
